<template>
  <div class="board">
    <table class="table table-helper mb-0">
      <tbody>
        <tr v-for="(f, idx) in building.floors" :key="`row-${idx}`">
          <td>{{ f.name }}</td>
        </tr>
      </tbody>
    </table>
    <table class="table is-bordered mb-0">
      <tbody>
        <tr v-for="(f, idx) in building.floors" :key="`row-${idx}`">
          <td v-for="(elv, index) in building.elevators" :key="`col-${index}`">
            <span class="time" v-if="elv.floor == f.number">{{ elv.setTimeHtml(f.number) }}</span>
            <img 
              v-if="idx == building.floors.length-1" 
              src="./../assets/elevator.svg" 
              width="17" 
              height="17" 
              :style="[elv.getTransition(1), elv.getPosition(index, f.number)]"
              :class="elv.getStyle(elv.status)" />
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table table-helper mb-0">
      <tbody>
        <tr v-for="(f, idx) in building.floors" :key="`row-${idx}`">
          <td>
            <button 
              :class="`button is-small ${building.getButtonStyle(f.status)}`" 
              :disabled="building.getButtonText(f.status) == 'waiting'" 
              @click="handleCall(f)
              ">
              {{ building.getButtonText(f.status) }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>

import Building from './../config/building'
import Queue from './../config/queue'
// import {timeout} from './../config/helpers'

export default {
  name: 'board',

  data() {
    return {
      building: new Building(window.state.floors, window.state.elevators),
      queue: new Queue()
    }
  },

  methods: {

    handleCall(floor) {

      let newQueue = this.getNewQueue(floor)

      newQueue.forEach((elv) => {
          //set elv status to busy
          elv.setStatus('busy')

          const diffInFloors = Math.abs(floor.number - elv.floor)
          const singleElvTime = (window.state.queueTime * 3 / 2) * diffInFloors
          elv.setTime( singleElvTime )
          elv.getTransition(singleElvTime)
          console.log(singleElvTime)
      })

      //push to queue waiting
      if(newQueue.length) {
        this.queue.active.push({
          floor,
          queue: newQueue
        })
        this.queue.setLength(this.queue.length + newQueue.length)
        floor.setStatus('waiting')
      }

      this.handle()

    },

    async handle() {
      this.queue.setInProgress(true)

      while(this.queue.active.length) {

        const item = this.queue.active[0]

        // assign floor btn to arrived, then change to call
        while(item.queue.length) {
          const elv = item.queue[0]
    
          // sleep 2000
          // await timeout(window.state.queueTime)
          // move elevator to desired floor
          await elv.move(item.floor)
          // reset time
          elv.setTime(0)
          //set elv status to call
          elv.setStatus('call')   
          //remove elv from queue
          item.queue.shift()

          this.queue.setLength(this.queue.length - 1)
        }

        if(!item.queue.length) {
          this.queue.active.shift()

          item.floor.setStatus('arrived')
          setTimeout(() => {
            item.floor.setStatus('call')
          }, window.state.queueTime)

        }

      }

      // when done while loop in queue
      if(!this.queue.active.length) {
        this.queue.setInProgress(false)
        this.queue.setLength(0)
      }

    },

    getNewQueue(floor) {
      // sort by closest to requested floor
      const availableElevators = [...this.building.elevators].filter(elv => !elv.busy())

      let newQueue = availableElevators.sort((a, b) => {
        return Math.abs(floor.number-a.floor) - Math.abs(floor.number-b.floor)
      })

      const closestFloorHaveElevators = newQueue[0].floor
      const floorDiff = Math.abs(floor.number - closestFloorHaveElevators)

      console.log(newQueue)
      console.log(closestFloorHaveElevators)
      console.log(floorDiff)
      // remove elevators in same floor
      // get elevators from closest floor only
      newQueue = newQueue.filter(elv => 

      elv.floor !== floor.number && // not same floor
      elv.floor == closestFloorHaveElevators) // closest floor from down

      return newQueue
    }

  }
}
</script>

