@import '~bulma';

.board {
    display: flex;
    margin: 2rem 0;
}
table { 
    position: relative;
}
table td {
    width: 75px;
    height: 25px;
    line-height: 25px;
    font-size: .9rem;
    white-space: nowrap;
    // padding: 0;
    img { 
    position: absolute;
    transition-property: bottom;
    }
}

.time {
    position: absolute;
}

.table-helper {
    background: none;
    td { border-color: transparent;}
}

.black-red{filter: invert(37%) sepia(93%) saturate(7471%) hue-rotate(356deg) brightness(91%) contrast(135%);}
.black-green{filter: invert(43%) sepia(96%) saturate(1237%) hue-rotate(88deg) brightness(128%) contrast(119%);}